/* Commit Mono Font Face Definition */
@font-face {
    font-family: 'Commit Mono';
    src: url('./CommitMono-400-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commit Mono';
    src: url('./CommitMono-400-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commit Mono';
    src: url('./CommitMono-400-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commit Mono';
    src: url('./CommitMono-700-Regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
